<div class="container">
  <div class="row w-200">
    <div class="mb-3">
      <label class="form-label" for="title">Movie title:</label><br>
      <input type="text" [(ngModel)]="Title" class="form-control">
    </div>
    <button (click)="submit()" class="btn btn-success">Search</button>
  </div>
  <hr>
  <div *ngIf="done">
    <p>Title : {{movie.Title}}</p>
    <p>Year : {{movie.Year}}</p>
    <p>Runtime : {{movie.Runtime}}</p>
    <p>Rated : {{movie.Rated}}</p>
    <p>Director : {{movie.Director}}</p>
    <p>Actors : {{movie.Actors}}</p>
  </div>
</div>
